.footer-login
  .footer-login__clearfix
    .footer-login__clearfix__option プライバシーポリシー
    .footer-login__clearfix__option メルカリ利用規約
    .footer-login__clearfix__option 特定商取引に関する表記
  .footer-login__logo
    = image_tag("footer_logo.png", width: 100)
  .footer-login__year © 2019 Mercari