.wrapper
  .header
    .header_top
      .header_image
      =image_tag("logo.png",width:"150" )
      .header_surch_bar
        何かお探しですか？
        %i.fa.fa-search
    .header_under
      .header_under_left
        .header_under_category
        .header_under_bland
      .header_under_right
        .header_login
        .header_new
    
  
  .main
    .main-slide
    .main-item

  .application
    
  .bottom
    .bottom_left
    .bottom_right