.sellwrapper
  .sellheader
    .sellheader-logo
      =image_tag("logo.png",width:"250" )
  
  .sellmains
    .sellmain
      .sellmain-top
        商品の情報を入力
      .sellmain-under
        .sellmain-under-upload-box
          .sellmain-under-upload-box-name
            .sellmain-under-upload-box-name__title
              出品画像
            .sellmain-under-upload-box-name__red
              必須
          .sellmain-under-upload-box-text
            最大10枚までアップロードできます
          .sellmain-under-upload-box-image
            .sellmain-under-upload-box-image__text
              ドラックアンドドロップ</br>
              またはクリックしてファイルをアップロード

        .sellmain-under-content-box
          .sellmain-under-content-box-name
            .sellmain-under-content-box-name__title
              商品名
            .sellmain-under-content-box-name__red
              必須
          .sellmain-under-content-name
            商品名必須（40文字まで）
          .sellmain-under-content-text
            .sellmain-under-content-text__title
              商品の説明
            .sellmain-under-content-text__red
              必須
          .sellmain-under-content-text-title
            商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。
        
        .sellmain-under-sub-box
          商品詳細
          .sellmain-under-sub-box-name  
            .sellmain-under-sub-box-name__title
              カテゴリー
            .sellmain-under-sub-box-name__red
              必須
            .selectWrap
              %select.select{:id => "", :name => ""}
                %option{:value => ""} 001
                %option{:value => ""} 002
                %option{:value => ""} 003
            
          .sellmain-under-sub-box-text
            .sellmain-under-sub-box-text__title
              商品の状態
            .sellmain-under-sub-box-text__red
              必須
            .selectWrap
              %select.select{:id => "", :name => ""}
                %option{:value => ""} ---
                %option{:value => "１"} 新品未使用
                %option{:value => "２"} 未使用に近い
                %option{:value => "３"} 目立った傷や汚れなし
                %option{:value => "４"} やや傷汚れあり
                %option{:value => "５"} 傷や汚れあり
                %option{:value => "６"} 全体的に状態が悪い
          
        .sellmain-under-delivery-box
          配送について
          .sellmain-under-delivery-box-name  
            .sellmain-under-delivery-box-name__title
              配送料の負担
            .sellmain-under-delivery-box-name__red
              必須
            .selectWrap
              %select.select{:id => "", :name => ""}
                %option{:value => ""} ---
                %option{:value => ""} 送料込み（出品者負担）
                %option{:value => ""} 着払い（購入者負担）
            
          .sellmain-under-delivery-box-text
            .sellmain-under-delivery-box-text__title
              配送元の地域
            .sellmain-under-delivery-box-text__red
              必須
            .selectWrap
              %select.select{:id => "", :name => ""}
                %option{:value => ""} ---

          .sellmain-under-delivery-box-text
            .sellmain-under-delivery-box-text__title
              配送までの日数
            .sellmain-under-delivery-box-text__red
              必須
            .selectWrap
              %select.select{:id => "", :name => ""}
                %option{:value => ""} ---
                %option{:value => "１"} １〜２日で発送
                %option{:value => "２"} ２〜３日で発送
                %option{:value => "３"} ４〜７日で発送

        .sellmain-under-sale-box
          販売価格
          .sellmain-under-sale-box-name  
            .sellmain-under-sale-box-name-label
              .sellmain-under-sale-box-name-label__title
                価格
              .sellmain-under-sale-box-name-label__red
                必須
              .sallmain-under-sale-box-name-input
                ¥
                %label.input
                  %input{:placeholder => "例）300", :type => "text"}/

            
          .sellmain-under-sale-box-text
            .sellmain-under-sale-box-text__left
              販売手数料(10%)
            .sellmain-under-sale-box-text__right

          .sellmain-under-sale-box-gain
            .sellmain-under-sale-box-gain__left
              販売利益   
            .sellmain-under-sale-box-gain__right
              -
        .sellmain-under-button-box
          .sellmain-under-button-box-text
            禁止されている出品、行為を必ずご確認ください。</br>またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。</br>また、出品をもちまして加盟店規約に同意したことになります。 
          .sellmain-under-button-red
            出品する
          .sellmain-under-button-gray
            もどる

  .sellfooter
    .sellfooter-text
    .sellfooter-logo
      =image_tag("grayogo.png",width:"120" )