.footer
  .footer-top
    .footer-top-mercaris
      .footer-top-merucari
        メルカリについて
        .footer-top-merucari-box
          .footer-top-merucari-box__li
            会社概要（運営会社）
          .footer-top-merucari-box__li
            採用情報
          .footer-top-merucari-box__li
            プレスリリース
          .footer-top-merucari-box__li
            公式ブログ
          .footer-top-merucari-box__li
            メルカリロゴ利用ガイドライン
      .footer-top-merucari__twitter
        =fa_icon'twitter' , class: 'icon'
      .footer-top-merucari__facebook
        =fa_icon'facebook' , class: 'icon'

    .footer-top-helps
      .footer-top-help
        ヘルプ＆ガイド
        .footer-top-help-box
          .footer-top-help-box__li
            メルカリガイド
          .footer-top-help-box__li
            らくらくメルカリ便
          .footer-top-help-box__li
            ゆうゆうメルカリ便
          .footer-top-help-box__li
            大型メルカリ便
          .footer-top-help-box__li
            車体取引ガイド
          .footer-top-help-box__li
            メルカリあんしん・あんぜん宣言
          .footer-top-help-box__li
            偽ブランド品撲滅への取り組み
          .footer-top-help-box__li
            メルカリボックス
    .footer-top-privacys
      .footer-top-privacy
        プライバシーと利用規約
        .footer-top-privacy-box
          .footer-top-privacy-box__li
            プライバシーポリシー
          .footer-top-privacy-box__li
            メルカリ利用規約
          .footer-top-privacy-box__li
            あんしんスマホサポート制度に関する利用規約
          .footer-top-privacy-box__li
            コンプライアンスポリシー
      .footer-top-private
        .footer-top-private-box
          .footer-top-private-box__li
            個人データの安全管理に関わる基本方針
          .footer-top-private-box__li
            特定商取引に関する表記
          .footer-top-private-box__li
            資金決済法に基づく表示
          .footer-top-private-box__li
            法令遵守と犯罪の抑止のために
          .footer-top-private-box__li
            返品・返金のポリシー
    .footer-top-country
      国
      .footer-top-country__li
        日本
        .footer-top-country__li
          United States
  .footer-under
    = link_to image_tag("blacklogo.png", width:"150"), root_path