.header
  .header-top
    .header-logo
      = link_to image_tag("logo.png",width:"150"), root_path
    .header-surch-bar
      何かお探しですか？
      .header-surch-bar__icon
        =fa_icon'search' , class: 'icon'
  .header-under
    .header-under-left
      .header-under-left-category
        カテゴリから探す
        .header-under-left-category__icon
          =fa_icon'list-ul' , class: 'icon'
      .header-under-left-bland
        ブランドから探す
        .header-under-left-bland__icon
          =fa_icon'tag', class: 'icon'
    .header-under-right
      - if user_signed_in?
        .header-under-right-news
          .header-under-right-news__icon
            =fa_icon 'bell-o' , class: 'icon'
          .header-under-right-news__button お知らせ
        .header-under-right-todo
          .header-under-right-todo__icon
            =fa_icon 'check' , class: 'icon'
          .header-under-right-todo__button やることリスト
        .header-under-right-mypage
          .header-under-right-mypage__icon
            =fa_icon 'smile-o' , class: 'icon'
          .header-under-right-mypage__button
            = link_to "マイページ", user_path(current_user.id), id: 'mypage-link'
      - else
        .header-under-right-login
          .header-under-right-login__button
            = link_to "ログイン", new_user_session_path, id: 'login-btn'
          .header-under-right-new
            .header-under-right-new__button
              = link_to "新規会員登録", new_user_registration_path, id: 'new-btn'