
.logout{
  margin: 40px auto 0;
  min-height: 400px;
  background-color: #f5f5f5;
  &__contain{
    background-color: #fff;
    padding: 64px;
    height: 100px;
    width: 500px;
    margin: 0 auto;
    &__sign_out{
      height:40px;
      width: 100px;
      margin: 0 auto;
      &__button {
        box-sizing: border-box;
        height: 35px;
        width: 100px;
        border-radius: 5px;
        background-color:red;
        padding: 8px;
        text-align: center;
        color: white;
        float:left;
        font-size: 13px;
        #sign_out-btn{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}