.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

// 部分テンプレートに移動
.header {
  box-sizing: border-box;
  width: 100vw;
  height: 100px;
  padding: 8px 200px 0px;
  display: flex;
  font-weight: bold;
  position: relative;
  overflow:hidden;
  &-top {
    box-sizing: border-box;
    width: 100vw;
    height: 40px;
    padding:0px 0px 0px 0px;
    font-weight: bold;
  }
  &-logo {
    width:20%;
    height:40px;
    float: left;
  }
  &-surch-bar{
    box-sizing: border-box;
    width: 80%;
    height:40px;
    float: left;
    background-color: wheat;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color:  #d3d3d3;
    color:#d3d3d3;
    background: #f5f5f5;
    font-weight: 100;
    line-height: 40px;
    padding: 0px 0px 0px 10px;  
    &__icon{
        display: inline-block;
        padding:0px 10px 5px 5px;
        color: black;
        float:right;
    }
  }
  &-under {
  box-sizing: border-box;
  width:100vw;
  height:40px;
  position: absolute;
  bottom: 0;
    &-left{
      height:40px;
      width:50%;
      float:left;
      &-category{
        height:40px;
        width:150px;
        float:left;
        font-size: 14px;
        &__icon {
          display: inline-block;
          padding:0px 10px 5px 5px;
          color:red;
        }
      } 
      &-bland{
        height:40px;
        width: 150px;
        float: left;
        font-size: 14px;
        &__icon{
          display: inline-block;
          padding:0px 10px 5px 5px;
          color:red;
        }
      }
    }
    &-right{
      height:40px;
      min-width: 400px;
      float: left;
      display: flex;
      // ログインしていない時
      &-login{
        height:40px;
        width: 200px;
        float: left;
        &__button {
          box-sizing: border-box;
          height:35px;
          width:80px;
          border-radius: 5px;
          background-color:red;
          padding: 8px;
          text-align: center;
          color: white;
          float:left;
          font-size: 13px;
          #login-btn{
            text-decoration: none;
            color: white;
          }
        }
      }
      &-new{
        height:30px;
        width: 100px;
        float: right;
        padding-left: 10px;
        &__button{
          box-sizing: border-box;
          border-style:solid;
          height:35px;
          width:110px;
          border-width:1px;
          border-radius: 5px;
          border-color: #0099e8;
          padding: 7px;
          text-align: center;
          color: #0099e8;
          font-size: 13px;
          float: left;
          #new-btn{
            text-decoration: none;
            color: #0099e8;
          }
        }
      }
      // ログインしている時
      &-news{
        padding: 0 14px;
        font-weight: 300;
        font-size: 14px;
        display: flex;
      }
      &-todo{
        padding: 0 14px;
        font-weight: 300;
        font-size: 14px;
        display: flex;
      }
      &-mypage{
        padding: 0 14px;
        font-weight: 300;
        font-size: 14px;
        display: flex;
        &__icon{
          padding-right: 5px;
          font-size: 14px;
        }
        &__button{
          #mypage-link{
            text-decoration: none;
          }
        }
      }
    }
  }
}

.main {
  box-sizing: border-box;
  width: 100vw;
  height: 1000px;
  &-slide {
    box-sizing: border-box;
    width: 100vw;
    height: 400px;
  }
  &-item {
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    color: black;
    padding:40px 0px 0px 0px ;
    font-size: 30px;
    font-weight	:bold;
    text-align:center;
    &-select{
      box-sizing: border-box;
      width: 100%;
      height: 450px;
      padding:0px 120px;
      &__name{
        box-sizing: border-box;
        font-size: 22px;
        color: #0099e8;
        padding:25px;
      }
     }
    &-all{
      box-sizing: border-box;
      width:100%;
      height:90%;
    }
    &-one{
      box-sizing: border-box;
      width:25%;
      height:100%;
      padding:0px 0px 0px 15px;
      &__image{
        box-sizing: border-box;
        width:100%;
        height:80%;
        padding:10px 0px 0px 0px;
      }
      &__textbox{
        box-sizing: border-box;
        width:100%;
        height:20%;
       }
      &__text{
        box-sizing: border-box;
        width:100%;
        height:70%;
        font-size: 15px;
      }
      &__prices{
        box-sizing: border-box;
        width:100%;
        height:70%;
        font-size: 10px;
        float:left;
       }
      &__price{
        box-sizing: border-box;
        width:50%;
        height:30%;
        font-size: 8px;
        text-align: left;
        float:left;
        }
      &__good{
        box-sizing: border-box;
        width:50%;
        height:30%;
        font-size: 8px;
        display: inline-block;  
       }
      &__tax{
        box-sizing: border-box;
        font-size: 8px;
        text-align: left;
      }
      &-all-view{
        box-sizing: border-box;
        font-size: 14px;
        display: inline-block;  
        width:100%;
        height:10%;
        padding:0px 20px;
        color: #0099e8;
        text-align: right;
      }
    }
  }
}
.application {
  box-sizing: border-box;
  width: 100vw;
  height: 270px;
  padding:10px;
}

// 部分テンプレートに移動
.footer {
  box-sizing: border-box;
  width:100vw;
  height:400px;
  background-color: black;
  &-top {
    box-sizing: border-box;
    width:100vw;
    height:80%;
    &-mercaris{
      box-sizing: border-box;
      width:25%;
      height:80%;
      padding:20px 20px 0px 40px;
      float: left;
     }
    &-merucari{
      box-sizing: border-box;
      width:100%;
      height:10%;
      color: white;
      &-box__li{
        box-sizing: border-box;
        width:100%;
        height:100%;
        padding:10px 0px 0px 0px;
        color: white;
        font-size: 10px;
      }
      &__twitter{
        box-sizing: border-box;
        color:white;
        width:10%;
        height:10%;
      }
      &__facebook{
        box-sizing: border-box;
        color:white;
        width:10%;
        height:10%;
      }
    }
    &-helps{
      box-sizing: border-box;
      width:25%;
      height:80%;
      padding:20px 20px 0px 0px;
      float: left;
    }
    &-help{
      box-sizing: border-box;
      width:100%;
      height:10%;
      color: white;
      &-box__li{
        box-sizing: border-box;
        width:100%;
        height:100%;
        padding:10px 0px 0px 0px;
        color: white;
        font-size: 10px;
      }
    }
    &-privacys{
      box-sizing: border-box;
      width:25%;
      height:80%;
      padding:20px 20px 0px 0px;
      float: left;
     }
    &-privacy{
      color: white;
      &-box__li{
        box-sizing: border-box;
        width:100%;
        height:100%;
        padding:10px 0px 0px 0px;
        color: white;
        font-size: 10px;
      }
    }
    &-private{
      box-sizing: border-box;
      width:100%;
      height:10%;
      color: white;
      &-box__li{
        box-sizing: border-box;
        width:100%;
        height:100%;
        padding:10px 0px 0px 0px;
        color: white;
        font-size: 10px;
      }
    }
    &-country{
      box-sizing: border-box;
      width:25%;
      height:80%;
      padding:20px 20px 0px 0px;
      float: left;
      color:white;
      &__li{
        box-sizing: border-box;
        width:100%;
        height:100%;
        padding:10px 0px 0px 0px;
        color: white;
        font-size: 10px;
      }
    }
  &-under{
    box-sizing: border-box;
    width:100vw;
    height:20%;
    padding:20px;
  }
  }
}

.sell-button{
  box-sizing: border-box;
  height:200px;
  width:200px;
  border-radius: 100px;
  background-color: red;
  position:sticky;
  float: right;
  font-size:25px;
  text-align:center;
  color:white;
  bottom: 5px;
  &-text {
    box-sizing: border-box;
    font-size:25px;
    text-align:center;
    color:white;
    margin: 18px 0px 0px 0px;
  }
.camera{
  box-sizing: border-box;
  height:200px;
  width:200px;
  color:white;
  font-size: 4em;
  text-align: center;
}
  }