.sellwrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.sellheader {
  box-sizing: border-box;
  width: 100vw;
  height: 120px;
  text-align:center;
  background-color: #EEEEEE;
  &-logo {
    padding:30px;
  }
}

.sellmains {
  box-sizing: border-box;
  display: flex;
  position: relative;
  text-align:center;
  width: 100vw;
  height: 2800px;
  padding:0px 350px 0px 350px;
  background-color: #EEEEEE;
  .sellmain{
    width:100%;
    background-color: white;
    &-top{
      box-sizing: border-box;
      width: 100%;
      height: 90px;
      text-align:center;
      font-weight: bold; 
      border:inherit;
      font-size: 22px;
      padding: 32px 16px;
      border-bottom: dashed 1.2px #dcdcdc;
    }
    &-under{
      box-sizing: border-box;
      width: 100%;
      height: 1500px;
      background-color: white;
      &-upload-box{
        box-sizing: border-box;
        width: 100%;
        height:30%;
        padding:40px;
        border-bottom: dashed 1.2px #dcdcdc;
        &-name{
          box-sizing: border-box;
          width: 100%;
          height:10%;
          &__title{
            box-sizing: border-box;
            width: 12%;
            height:100%;
            font-weight: bold; 
            float:left;
            text-align: left;
          }
          &__red{
            height:60%;
            width:5%;
            background-color: red;
            border-radius: 3px;
            color: white;
            font-size:12px;
            font-weight: bold; 
            float:left;
          }
        }
        &-text{
          box-sizing: border-box;
          width: 100%;
          height:10%;
          font-size:12px;
          text-align: left;
        }
        &-image{
          box-sizing: border-box;
          width: 100%;
          height:50%;
          background-color: #EEEEEE;
          border: dashed 1.2px #dcdcdc;
          &__text{
            box-sizing: border-box;
            width: 100%;
            height:100%;
            padding:60px;
            text-align:center;
            font-size:14px;
          }
        }
      }
      &-content-box{
      box-sizing: border-box;
      width: 100%;
      height:30%;
      padding:40px;
      border-bottom: dashed 1.2px #dcdcdc;
        &-name{
          box-sizing: border-box;
          width: 100%;
          height:10%;
          &__title{
            box-sizing: border-box;
            width: 11%;
            height:100%;
            font-weight: bold; 
            float:left;
            text-align: left;
          }
          &__red{
            height:60%;
            width:5%;
            background-color: red;
            border-radius: 3px;
            color: white;
            font-size:12px;
            font-weight: bold; 
            float:left;
          }
        }
      }
      &-content-name{
        box-sizing: border-box;
        width: 100%;
        height:15%;
        border: solid 1.2px #dcdcdc;
        text-align:center;
        font-size:14px;
      }
      &-content-text{
        box-sizing: border-box;
        width: 100%;
        height:10%;
        &__title{
          box-sizing: border-box;
          width: 15%;
          height:100%;
          font-weight: bold; 
          float:left;
          text-align: left;
        }
        &__red{
          height:60%;
          width:5%;
          background-color: red;
          border-radius: 3px;
          color: white;
          font-size:12px;
          font-weight: bold; 
          float:left;
        }
        &-title{
          box-sizing: border-box;
          width: 100%;
          height:50%;
          border: solid 1.2px #dcdcdc;
          text-align:center;
          font-size:14px;
        }
      }
      &-sub-box{
        box-sizing: border-box;
        width: 100%;
        height:30%;
        padding:40px;
        text-align: left;
        border-bottom: dashed 1.2px #dcdcdc;
        &-name{
          box-sizing: border-box;
          width: 70%;
          height:50%;
          float:right;
          &__title{
            box-sizing: border-box;
            width: 20%;
            height:10%;
            font-weight: bold; 
            float:left;
            text-align: left;
          }
          &__red{
            height:13%;
            width:10%;
            background-color: red;
            border-radius: 3px;
            color: white;
            font-size:12px;
            font-weight: bold; 
            float:left;
          }
        }
      .selectWrap{
        width: 100%;
        position: relative;
        display: inline-block;
      }
      .selectWrap::after {
        content: '';
        width: 6px;
        height: 6px;
        border: 0px;
        border-bottom: solid 2px #b4b3b3;
        border-right: solid 2px #b4b3b3;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -4px;
      }
      .select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 40px;
        background: transparent;
        position: relative;
        z-index: 1;
        padding: 0 40px 0 10px;
        border: 1px solid #b4b3b3;
        border-radius: 2px;
      }
      select::-ms-expand {
        display: none;
      }
      .sellmain-under-sub-box-text{
        box-sizing: border-box;
        width: 70%;
        height:50%;
        float:right;
        &__title{
          box-sizing: border-box;
          width: 20%;
          height:10%;
          font-weight: bold; 
          float:left;
          text-align: left;
        }
        &__red{
          height:13%;
          width:10%;
          background-color: red;
          border-radius: 3px;
          color: white;
          font-size:12px;
          font-weight: bold; 
          float:left;
        }
      .selectWrap{
        width: 100%;
        position: relative;
        display: inline-block;
      }
      .selectWrap::after {
        content: '';
        width: 6px;
        height: 6px;
        border: 0px;
        border-bottom: solid 2px #b4b3b3;
        border-right: solid 2px #b4b3b3;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -4px;
      }
      .select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 40px;
        background: transparent;
        position: relative;
        z-index: 1;
        padding: 0 40px 0 10px;
        border: 1px solid #b4b3b3;
        border-radius: 2px;
      }
      select::-ms-expand {
        display: none;
      }
    } 
  }
    .sellmain-under-delivery-box{
      box-sizing: border-box;
      width: 100%;
      height:30%;
      padding:40px;
      text-align: left;
      border-bottom: dashed 1.2px #dcdcdc;
      &-name{
        box-sizing: border-box;
        width: 70%;
        height:33%;
        float:right;
        &__title{
          box-sizing: border-box;
          width: 20%;
          height:10%;
          font-weight: bold; 
          float:left;
          text-align: left;
        }
        &__red{
          height:13%;
          width:10%;
          background-color: red;
          border-radius: 3px;
          color: white;
          font-size:12px;
          font-weight: bold; 
          float:left;
        }
      .selectWrap{
        width: 100%;
        position: relative;
        display: inline-block;
      }
      .selectWrap::after {
        content: '';
        width: 6px;
        height: 6px;
        border: 0px;
        border-bottom: solid 2px #b4b3b3;
        border-right: solid 2px #b4b3b3;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -4px;
      }
      .select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 40px;
        background: transparent;
        position: relative;
        z-index: 1;
        padding: 0 40px 0 10px;
        border: 1px solid #b4b3b3;
        border-radius: 2px;
      }
      select::-ms-expand {
        display: none;
      }
    }
      .sellmain-under-delivery-box-text{
        box-sizing: border-box;
        width: 70%;
        height:33%;
        float:right;
        &__title{
          box-sizing: border-box;
          width: 20%;
          height:10%;
          font-weight: bold; 
          float:left;
          text-align: left;
        }
        &__red{
          height:13%;
          width:10%;
          background-color: red;
          border-radius: 3px;
          color: white;
          font-size:12px;
          font-weight: bold; 
          float:left;
        }
      .selectWrap{
        width: 100%;
        position: relative;
        display: inline-block;
      }
      .selectWrap::after {
        content: '';
        width: 6px;
        height: 6px;
        border: 0px;
        border-bottom: solid 2px #b4b3b3;
        border-right: solid 2px #b4b3b3;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -4px;
      }
      .select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 40px;
        background: transparent;
        position: relative;
        z-index: 1;
        padding: 0 40px 0 10px;
        border: 1px solid #b4b3b3;
        border-radius: 2px;
      }
      select::-ms-expand {
        display: none;
      }
    }
  }
    .sellmain-under-sale-box{
      box-sizing: border-box;
      width: 100%;
      height:30%;
      padding:40px;
      text-align: left;
      border-bottom: dashed 1.2px #dcdcdc;
      &-name{
        box-sizing: border-box;
        width: 70%;
        height:20%;
        float:right;
        padding: 0 0 24px;
        border-bottom:solid  1.2px #d3d3d3;
        &-label{
          box-sizing: border-box;
          height:50%;
          width:50%;
          &__title{
            box-sizing: border-box;
            width: 20%;
            height:50%;
            font-weight: bold; 
            float:left;
            text-align: left;
          }
          &__red{
            height:50%;
            width:10%;
            background-color: red;
            border-radius: 3px;
            color: white;
            font-size:12px;
            font-weight: bold; 
            float:left;
          }
        }
        &-input {
          box-sizing: border-box;
          height:50%;
          width:50%;
          float:right;
        }  
      .sallmain-under-sale-box-input input[type='text'] {
        font: 15px/24px sans-serif;
        box-sizing: border-box;
        width: 100%;
        padding: 0.3em;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #aaaaaa;
        border: 1px solid #d3d3d3;
        border-radius: 4px;
      }
      .input input[type='text']:focus {
        border: 2px solid #b3d4fc;
        outline: none;
      }
    }      
    .sellmain-under-sale-box-text{
      box-sizing: border-box;
      width: 70%;
      height:20%;
      float:right;
      padding:25px 0px 25px 0px;
      border-bottom:solid  1.2px #d3d3d3;
      &__left{
        box-sizing:border-box;
        width:50%;
        text-align: right;
        }
        &__right{
          box-sizing:border-box;
          width:50%;
          text-align: right;
        }
      }   
    .sellmain-under-sale-box-gain{
      box-sizing: border-box;
      width: 70%;
      height:33%;
      float:right;
      padding:25px 0px 25px 0px;
      border-bottom:solid  1.2px #d3d3d3;
      &__left{
        box-sizing: border-box;
        width: 20%;
        height:10%;
        font-weight: bold; 
        float:left;
        text-align: left;
      }
      &__right{
        box-sizing: border-box;
        width: 20%;
        height:10%;
        font-weight: bold; 
        float:right;
        text-align: right;
      }
    }
    .sellmain-under-button-box{
      box-sizing: border-box;
      width: 100%;
      height:30%;
      padding:40px;
      text-align: left;
      &-text{  
        box-sizing: border-box;
        width: 100%;
        height:30%;
        font-size:12px;
      }
      .sellmain-under-button-red{
        box-sizing: border-box;
        width: 100%;
        height:15%;
        background-color: red;
        padding:10px 20px;
        color: white;
        text-align: center;
      }  
      .sellmain-under-button-gray{
        box-sizing: border-box;
        width: 50%;
        height:15%;
        background-color: gray;
        margin: 20px 150px;
        padding:15px 20px;
        color: white;
        text-align: center;
      }
    }
  }
}


.sellfooter{
  box-sizing: border-box;
  width: 100vw;
  height: 120px;
  text-align:center;
  background-color: #EEEEEE;
}
}
}
