.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.header {
  box-sizing: border-box;
  width: 100vw;
  height: 100px;
  padding: 8px 200px 0px;
  display: flex;
  font-weight: bold;
  position: relative;
  overflow:hidden;
}

.header_top {
  box-sizing: border-box;
  width: 100vw;
  height: 40px;
  padding:0px 0px 0px 0px;
  font-weight: bold;
  
}

.header_image {
  width:20%;
  height:40px;
  float: left;
  

}
.header_surch_bar{
  box-sizing: border-box;
  width: 80%;
  height:40px;
  float: left;
  background-color: wheat;
  border-radius: 5px;
  border-style:solid;
  border-width:1px;
  border-color:  #d3d3d3;
  color:#d3d3d3;
  background: #f5f5f5;
  font-weight: 100;
  line-height: 40px;
  padding: 0px 0px 0px 10px;
  
}

.search {
  display: inline-block;
  float:right;
  padding:0px 10px 5px 5px;
  color: black;
}

.header_under {
  box-sizing: border-box;
  width:100vw;
  height:40px;
  position: absolute;
  bottom: 0;
}

.header_under_left{
  height:40px;
  width:50%;
  float:left;
}

.header_under_category{
  height:40px;
  width:150px;
  float:left;
  font-size: 14px;
}

.list {
  display: inline-block;
  float:left;
  padding:0px 10px 5px 5px;
  color:red;
}



.header_under_bland{
  height:40px;
  width: 150px;
  float: left;
  font-size: 14px;
}

.tag {
  display: inline-block;
  float:left;
  padding:0px 10px 5px 5px;
  color:red;
}


.header_under_right{
  height:40px;
  width:400px;
  float: left;

}
.header_login{
  height:40px;
  width: 100px;
  float: left;
}

.header_login_button {
  box-sizing: border-box;
  height:35px;
  width:80px;
  border-radius: 5px;
  background-color:red;
  padding: 8px;
  text-align: center;
  color: white;
  float:left;
  font-size: 13px;

}
.header_new{
  height:30px;
  width: 100px;
  float: left;

}

.header_new_button{
  box-sizing: border-box;
  border-style:solid;
  height:35px;
  width:110px;
  border-width:1px;
  border-radius: 5px;
  border-color: #0099e8;
  padding: 7px;
  text-align: center;
  color: #0099e8;
  font-size: 13px;
  float: left;

}
    
  
.main {
  box-sizing: border-box;
  width: 100vw;
  height: 1000px;
}


.main-slide {
  box-sizing: border-box;
  width: 100vw;
  height: 400px;

}
.main-item {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  color: black;
  padding:40px 0px 0px 0px ;
  font-size: 30px;
  font-weight	:bold;
  text-align:center;
  
  
}

.main-item-select{
  box-sizing: border-box;
  width: 100%;
  height: 450px;
  padding:0px 120px;

}
.main-item-select-name{
  box-sizing: border-box;
  font-size: 22px;
  color: #0099e8;
  padding:25px;
}

.main-item-all{
  box-sizing: border-box;
  width:100%;
  height:90%;

}
.main-item-one{
  box-sizing: border-box;
  width:25%;
  height:100%;
  padding:0px 0px 0px 15px;


}
.main-item-one-image{
  box-sizing: border-box;
  width:100%;
  height:80%;
  padding:10px 0px 0px 0px;

}
.main-item-one-textbox{
  box-sizing: border-box;
  width:100%;
  height:20%;

}
.main-item-one-text{
  box-sizing: border-box;
  width:100%;
  height:70%;
  font-size: 15px;

}
.main-item-one-prices{
  box-sizing: border-box;
  width:100%;
  height:70%;
  font-size: 10px;
  float:left;

}

.main-item-one-price{
  box-sizing: border-box;
  width:50%;
  height:30%;
  font-size: 8px;
  text-align: left;
  float:left;

}
.main-item-one-good{
  box-sizing: border-box;
  width:50%;
  height:30%;
  float:left;
  font-size: 8px;
  display: inline-block;  


}
.main-item-one-tax{
  box-sizing: border-box;
  font-size: 8px;
  text-align: left;


}
.main-item-one-all-view{
  box-sizing: border-box;
  font-size: 14px;
  display: inline-block;  
  width:100%;
  height:10%;
  padding:0px 20px;
  color: #0099e8;
  text-align: right;

}


.application {
  box-sizing: border-box;
  width: 100vw;
  height: 390px;
}
    
.footer {
  box-sizing: border-box;
  width:100vw;
  height:400px;
  background-color: black;

}
.footer-top {
  box-sizing: border-box;
  width:100vw;
  height:80%;

}
.footer-top-mercaris{
  box-sizing: border-box;
  width:25%;
  height:80%;
  padding:20px 20px 0px 40px;
  float: left;

}
.footer-top-merucari{
  box-sizing: border-box;
  width:100%;
  height:10%;
  color: white;

}
.li{
  box-sizing: border-box;
  width:100%;
  height:100%;
  padding:10px 0px 0px 0px;
  color: white;
  font-size: 10px;

}

li.tweet{
  color:wheat;
}
.footer-top-helps{
  box-sizing: border-box;
  width:25%;
  height:80%;
  padding:20px 20px 0px 0px;
  float: left;


}
.footer-top-help{
  box-sizing: border-box;
  width:100%;
  height:10%;
  color: white;

}
.li{

}
.footer-top-privacys{
  box-sizing: border-box;
  width:25%;
  height:80%;
  padding:20px 20px 0px 0px;
  float: left;

}
.footer-top-privacy{
  color: white;


}
.li{

}
.footer-top-private{
  box-sizing: border-box;
  width:100%;
  height:10%;
  color: white;


}
.li{

}
.footer-top-country{
  box-sizing: border-box;
  width:25%;
  height:80%;
  padding:20px 20px 0px 0px;
  float: left;
  color:white;
  

}
.li{

}
.footer-under{
  box-sizing: border-box;
  width:100vw;
  height:20%;
  padding:20px;


}

.sell-button{
  box-sizing: border-box;
  height:200px;
  width:200px;
  border-radius: 100px;
  background-color: red;
  position:sticky;
  float: right;
  bottom: 5px;

}

.sell-button-text {
  box-sizing: border-box;
  font-size:25px;
  text-align:center;
  color:white;
  margin: 18px 0px 0px 0px;

  
}

.camera{
  color:white;
  font-size: 4em;
  text-align: center;

}
