.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.header {
  box-sizing: border-box;
  width: 100vw;
  height: 150px;
  padding: 8px 200px 0px;
  background-color: beige;
  display: flex;
  font-weight: bold;
  position: relative;
  overflow:hidden;
}

.header_top {
  box-sizing: border-box;
  width: 100vw;
  height: 60px;
  padding:0px 0px 0px 0px;
  background-color: aqua;
  font-weight: bold;
  
}

.header_image {
  

}
.header_surch_bar{
  box-sizing: border-box;
  width:600px;
  height:60px;
  float: right;
  background-color: wheat;
  border: solid 0.1px  #d3d3d3;
  color:#d3d3d3;
  background: #f5f5f5;

}

.header_under {
  box-sizing: border-box;
  width:800px;
  height:80px;
  position: absolute;
  bottom: 0;
  background-color: green;
}

.header_under_left{
  height:80px;
  width:50%;
  background-color: rgb(182, 67, 67);
  float:left;
}

.header_under_category{
  height:80px;
  width:200px;
  background-color: white;
  float:left;
}

.header_under_bland{
  height:80px;
  width: 200px;
  background-color: gray;
  float: left;
}

.header_under_right{
  height:80px;
  width:400px;
  background-color: beige;
  float: left;

}
.header_login{
  height:80px;
  width: 200px;
  background-color: gray;
  float: left;

}
.header_new{
  height:80px;
  width: 200px;
  background-color: gray;
  float: left;

}
    
  
.main {
  width: 100vw;
  height: 1000px;
  background-color:green;


}
.main-slide {

}
.main-item {

}
.midol-ander {

}

.application {
  width: 100vw;
  height: 250px;
  background-color: aquamarine;
}
    
.bottom {
  width: 100vw;
  height: 400px;
  background-color: yellow;

}
.bottom_left {

}
.bottom_right {

}
